<!DOCTYPE html>
<html>

<head>
    <title>Droguinhas</title>
    <link href="https://fonts.googleapis.com/css?family=Exo|Lobster|Nunito+Sans|Pacifico" rel="stylesheet">
    <!-- importing fonts -->
    <link rel="stylesheet" href="../../src/css/drug.css">
    <meta charset="UTF=8">
</head>

<body>
    <header>
        <a href="../../index.html">
            <img src="../../src/images/logo.jpg" id="logo">
        </a>
        <div id="nav"></div>
        <i id="title">Site de prevenção contra as drogas</i>
        <div id="navContent">
            <a href="maconha.html" id="navLink">Maconha</a>
            <a href="lsd.html" id="navLink">LSD</a>
            <a href="ecstasy.html" id="navLink">Ecstasy</a>
            <a href="trufa.html" id="navLink">Trufas</a>
            <a href="Ayahuasca.html" id="navLink">Ayahuasca</a>
            <a href="cocaina.html" id="navLink">Cocaína</a>
            <a href="form.html" id="navLink">Formulário</a>
        </div>
        </div>
    </header>

    <div id="sideBar">
        <h3>Navegação</h3>
        <ul>
            <li>
                <a href="../../index.html" id="navLink">Menu</a>
            </li>
            <li>
                <a href="maconha.html" id="navLink">Maconha</a>
            </li>
            <li>
                <a href="lsd.html" id="navLink">LSD</a>
            </li>
            <li>
                <a href="ecstasy.html" id="navLink">Ecstasy</a>
            </li>
            <li>
                <a href="trufa.html" id="navLink">Trufas</a>
            </li>
            <li>
                <a href="Ayahuasca.html" id="navLink">Ayahuasca</a>
            </li>
            <li>
                <a href="cocaina.html" id="navLink">Cocaína</a>
            </li>
            <li>
                <a href="form.html" id="navLink">Formulário</a>
            </li>
            <ul>
    </div>

    <div id="banner">
        <img src="../../src/images/cocktail.jpeg" id ="bannerPic">
    </div>
</body>

</html>