<!DOCTYPE html>
<html>

<head>
    <title>Droguinhas</title>
    <link href="https://fonts.googleapis.com/css?family=Exo|Lobster|Nunito+Sans|Pacifico" rel="stylesheet">
    <!-- importing fonts -->
    <link rel="stylesheet" href="../../src/css/drug.css">
    <meta charset="UTF=8">
</head>

<body>
    <header>
        <a href="../../index.html">
            <img src="../../src/images/logo.jpg" id="logo">
        </a>
        <div id="nav"></div>
        <i id="title">Site de prevenção contra as drogas</i>
        <div id="navContent">
            <a href="maconha.html" id="navLink">Maconha</a>
            <a href="lsd.html" id="navLink">LSD</a>
            <a href="ecstasy.html" id="navLink">Ecstasy</a>
            <a href="trufa.html" id="navLink">Trufas</a>
            <a href="aioaska.html" id="navLink">Aiosaska</a>
            <a href="cocaina.html" id="navLink">Cocaína</a>
            <a href="form.html" id="navLink">Formulário</a>
        </div>
        </div>
    </header>

    <div id="sideBar">
        <h3>Navegação</h3>
        <ul>
            <li>
                <a href="../../index.html" id="navLink">Menu</a>
            </li>
            <li>
                <a href="maconha.html" id="navLink">Maconha</a>
            </li>
            <li>
                <a href="lsd.html" id="navLink">LSD</a>
            </li>
            <li>
                <a href="ecstasy.html" id="navLink">Ecstasy</a>
            </li>
            <li>
                <a href="trufa.html" id="navLink">Trufas</a>
            </li>
            <li>
                <a href="aioaska.html" id="navLink">Aiosaska</a>
            </li>
            <li>
                <a href="cocaina.html" id="navLink">Cocaína</a>
            </li>
            <li>
                <a href="form.html" id="navLink">Formulário</a>
            </li>
            <ul>
    </div>
    <div id="banner">
        <svg>
            <text x="10" y="100" fill="white">Maconha</text>
        </svg>
    </div>
    <div id="content">
        <div>
            <p id="drugDesc">

                <img src="../../src/images/weed.jpeg" id="drugDescImage">
                <br>
                Imagem de:  <a href="https://www.pexels.com/photo/shallow-focus-photography-of-cannabis-plant-606506/">Michael Fisher</a>
                <br>
                - Características:
                <br> Os efeitos da maconha são: euforia, sonolência, sentimento de felicidade,risos espontâneos, sem motivo
                algum,perda de noção do tempo, espaço, perda de coordenação motora, equilíbrio, fala,aceleramento do
                coração, perda temporária de inteligência, fome, olhos vermelhos, e outras características.
                <br> - Riscos e ações no organismo:
                <br> Os efeitos a longo prazo podem ser: maior chance de desenvolver câncer de pulmão,bronquites, sistema
                imunológico fragilizado, tosse crônica e arritmia cardíaca
                <br> - Formas de tratamento e controle, bem como programas de Conscientização:
                <br> Segundo a FEBRACT (Federação Brasileira de Comunidades Terapeuticas) "Primeiro, com atividades sistemáticas
                que trabalham habilidades de vida nas crianças e adolescentes para que façam melhores escolhas. Esse
                tipo de programa deve ser feito nas escolas porque é a forma de atingir o maior número de crianças e
                adolescentes possível de maneira custo-efetiva."
                <br> Fontes:
                <br>
                <a href="https://www.infoescola.com/drogas/maconha/"> Info escola, acesso em 22 de Abril de 2018, às 20:43</a>
                <br>
                <a href="http://febract.org.br/portal/como-fazer-prevencao-efetiva-as-drogas/"> FEBRACT, acesso em 22 de Abril de 2018, às 21:08</a>
            </span>
            </p>
        </div>
    </div>
</body>