#subTitle{
    font-family: 'Exo', sans-serif;
    font-size: 300%;
    color: rgb(253, 4, 0);
}
#title{
    font-family: 'Lobster', cursive;
    font-size: 300%;
    color: rgb(253, 4, 0);
}
#logo{
    margin-left: 5%;
    border-radius: 50%;
    width: 20%;
    height: 15%;
}
#navContent{
    color: white;
    background-color: #E02E2B;
    margin-left: 8%;
    margin-right: 8%;
    align-content: center;
    font-size: 120%;
    margin-top: 3%;
}
body {
    background-color: #F6FCDE;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#banner{
    background-color: #E74E16;
    margin-top: 0.4%;
    margin-left: 21%;
    width: 70%;
}
svg{
    font-size: 300%;
    font-family: 'Lobster', cursive;
    height: 800%;
    margin: 2%;
}
#content{
    margin-right: 12%;
    margin-left: 19%;
}
#sideBar{
    margin-top: 5px;
    margin-left: 17%;
    width: 80%;
    height: 275px;
    color: white;
    margin-left: 9%;
    float: left;
    background-color : #DD7B35;
    width: 11%;
}
#navLink{
    color: white;
}
#drugRow{
    
    background-color: #C24400;
}
#drug{
    border: 20px;
    border-style: solid;
    border-color: white; 
    width: 210px;
    height: 210px;
}
#drugDesc{
    margin-left: 5%;
    border-style: dashed;
}
footer{
    
    background-color: #E0642B;
    color: white;
}