#sideBar{
    margin-left: 17%;
    width: 80%;
    color: white;
    margin-left: 9%;
    float: left;
    background-color : #d68850;
    width: 11%;
}
a{
    color: white;
}
#corp{
    background-color: #D18E7C;
    margin-left: 17%;
    width: 80%;
}
#drugRow{
    
    background-color: #442F2F;
}
#drug{
    border: 20px;
    border-style: solid;
    border-color: white; 
    width: 210px;
    height: 210px;
}